{% extends "user_management/base.html" %}

{% block content %}
<br>
<br>
<br>
    {% for request in service_request %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ request.user_request.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"><h4>{{ request.user_request }}</h4></a>
              <a class="text-secondary"><h6 class="btn btn-outline-info">Room Number  {{  request.user_request.profile.user_room_number }}</h6></a>
              <small class="text-muted">{{ request.request_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title"><h6 style="color:red;">Request Title</h6>{{ request.service_title }}</a></h2>
            <p class="article-content"><h6 style="color:#084f8d;">Request Type</h6>{{ request.service_type_request }}</p>
            
          </div>
          
        </article>
    {% endfor %}
{% endblock content %}    